<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Web" parallel="classes" thread-count="2">

  
	<listeners>
		<listener class-name="com.crm.util.ExtentRepList" />
		<listener class-name="com.crm.util.Listeners" />
	</listeners>
	
    <test name="CRM TestCases">
    <classes>
      <class name="com.crm.testcases.HomePageTest"/>
      <class name="com.crm.testcases.LoginPageTest"/>
      <class name="com.crm.testcases.DocumentPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
